<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268148904006-4etl4o7bbopmj4ad4f2veq7s2e2hhr3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268148904006-4etl4o7bbopmj4ad4f2veq7s2e2hhr3r</string>
	<key>API_KEY</key>
	<string>AIzaSyDLYpGGmxgfI7vgPmD1N1hzdEywahE01Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>268148904006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp2-e020a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp2-e020a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268148904006:ios:b5916fd02b58c8d2413a47</string>
</dict>
</plist>